    <div class="page-content">
      
      <div style="background-image: url(images/carousel.jpg); background-repeat: no-repeat; background-size: cover; background-color: #0091ea; padding-top: 3%; padding-bottom: 3%;padding-left: 5%;padding-right: 5%;">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet graybox">
			<h3><font color="#fff">We support education in Minecraft</font></h3>
			
			<h6><font color="#eee">Global Dream Schools is a non profit initiative supporting teachers, students and the cause of bringing Minecraft to schools. Certified educators and students from such certified schools around the world can collaborate, communicate, compete and build their dream schools together.</font></h6>
            </div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet graybox">
            	<iframe width="480" height="270" src="https://www.youtube.com/embed/C1yBSnlOrGs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
      
      <div style="padding-top: 3%;padding-bottom: 3%;padding-left: 8%;padding-right: 8%;">
         <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
            	<h3>Overview</h3>
            	<p>In 2015, we partnered with Microsoft Vietnam and 15+ high schools around the world to open a summer program called Global Dream Schools. The goal of this project is to design and create a blueprint copy of the school you attend. The recreation of your school must be to scale. After the school is built, you will then design build your ultimate dream school that would ensure the highest levels of learning and education.</p>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet graybox">
            	<img src="//pre02.deviantart.net/5567/th/pre/f/2013/116/5/2/education_for_miners_by_lockrikard-d62nd7w.png" width="100%"></img>
            </div>
         </div>
      </div>
		
	</div>