<div ng-style="{'background-image':'url(http://wallpapercave.com/wp/MUuC7BK.jpg)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-color': '#000', 'min-height': '50vh'}">
</div>
<div>
<md-card style="padding-top: 5%; padding-bottom: 5%; padding-left: 5%; padding-right: 5%;">
	<md-card-header>
		<md-card-header-text>
			<h3>Frequently Asked Questions</h3>
		</md-card-header-text>
	</md-card-header>
	
	<md-card-content>
	<h4>Is this Legit?</h4>
	<p>Yes.  We were on Google I/O Extended, AWS Activate, Stripe Atlas, partnered with popular YouTubers and our moms vouch for us.</p>
	
	<h4>Why is VIP so cheap?</h4>
	<p>We’re gamers/entrepreneurs and understand gaming is the expense most people skimp on.  So we wanted to offer a service that caters to casual gamers, families, and schools who want their online virtual world to reflect their personality. Streamlining the process from top to bottom, we are able to offer our service at an affordable price.
	
	<h4>Why is VIP so expensive?</h4>
	<p>We take it you may not have had to setup a Minecraft server before. In comparison to hosting the servers yourself, yes it may seem to be expensive. But how much is your time and peace of mind worth? Most hosting providers would charge 3 to 5 times the amount that we do, and may not have experience in crafting and maintaining like we do.  Our tech experts have created thousands of worlds and plugins with hundred of thousands downloads, and keep up with the changes in security, maintainance, and versions daily, even hourly.</p>
	
	<h4>Did you guys buy your servers from third world countries?</h4>
	<p>No, we bought them off a guy who said they fell off the back of a truck. No seriously we use Amazon Web Services and Google Cloud Platform in the United States and they gave us tremendous support.</p>
	
	<h4>Why don’t you guys have a phone number or email?</h4>
	<p>We hate phones.  No seriously, we hate phones. In order to provide the services at the low low costs we have to limit  support options. Unlike a traditional hosting, we do not have a fleet of assistants from India who answer calls and emails. We do it ourselves because we are the ones who will be handling your terms. So, we apologize but we are not able to accept phone calls at this time. We do have our superb live chat support system which is even better than communicating via phone or email.</p>
	
	<h4>What if I have 5 billion blocks squared in world size?</h4>
	<p>It's absolutely fine. Our cloud infrastructure can handle much more than peanuts like 5 billion blocks squared!</p>
	</md-card-content>
</md-card>
</div>