<div layout-wrap layout="row" ng-style="{'background-image':'url(//i.imgur.com/v3rFpLy.jpg)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-color': '#000', 'min-height': '100vh', 'padding-top': '15vh'}">
	<center>
	<div flex="100" ng-style="{'padding': '3vw', 'font-size': '24px'}">
		<h1><font color="#fff">Building something big together</font></h1>
		<p><font color="#eee">Take your ideas to the next level and make something that people use everyday. Something that changes the virtual world—and does it fast. We still have a long way to go. Hop in and help us get there.</font></p>
	</div>
	</center>
</div>

<div layout-wrap layout="row" ng-style="{'background-color': '#fff',}">
	<div flex-gt-xs="50" flex-xs="100" ng-style="{'padding': '5vw'}">
		<h3>We are looking for talented people to expand our team!</h3>
		<p>Minecraftly is a fast-moving, demanding, and rewarding environment that gives you the freedom to work when and where you want and to meaningfully contribute to a successful and advanced project where there is always room for advancement.</p>
		<p>We value initiative, reward excellence, and constantly encourage critical thinking and originality. Be part of a close-knit, cooperative team working to deliver premier gameplay experiences to the Minecraft community!</p>
	</div>
	<div flex-gt-xs="50" flex-xs="100">
		<img src="//orig12.deviantart.net/1575/f/2012/236/9/f/minecraft___the_creepers_by_kingdomhearts300-d5c8kb6.png" width="100%"></img>
	</div>
</div>