<div ng-style="{'background-image': 'url(//i.imgur.com/Uki5vPa.jpg)', 'background-size': 'cover', 'background-color': '#000', 'min-height': '50vh', 'padding-top': '10vh'}">
	<center>
		<h1><font color="#fff"><b>GET TO KNOW US</b></font></h1>
	<center>
</div>

<div layout-wrap layout="row" ng-style="{'text-align': 'center'}" layout-align="center center">
	<div flex-gt-xs="33" flex-xs="100" ng-style="{'padding': '3vw', 'max-width': '300px'}">
		<img src="//i.imgur.com/n8hzHVa.jpg" width="150px" height="150px" style="border-radius: 50%;"/>
		<h3>VIET</h3>
		<h4>Founder & CEO</h4>
		<p>I am the Founder and CEO of Minecraftly. I’m responsible for Minecraftly’s vision and product strategy. I like UX and Music. I'm Vietnamese.</p>
	</div>
	<div flex-gt-xs="33" flex-xs="100" ng-style="{'padding': '3vw', 'max-width': '300px'}">
		<img src="//i.imgur.com/vIB0B73.jpg" width="150px" height="150px" style="border-radius: 50%;"/>
		<h3>CORY</h3>
		<h4>CTO</h4>
		<p>I develop the Minecraftly software. My happiness is directly correlated to our test coverage. I love Java, started 5 years back and have loved and learnt more every moment of it! </p>
	</div>
	<div flex-gt-xs="33" flex-xs="100" ng-style="{'padding': '3vw', 'max-width': '300px'}">
		<img src="//cravatar.eu/helmavatar/4a49ea65-55be-4b32-86c7-a4fe4ac7b684/512.png" width="150px" height="150px" style="border-radius: 50%;"/>
		<h3>DARSHAN</h3>
		<h4>Community Manager</h4>
		<p>I'm responsible for enriching user experiences on the Minecraftly platform as a community manager.</p>
	</div>
</div>

<div layout-wrap layout="row" ng-style="{'text-align': 'center'}" layout-align="center center">
	<div flex-gt-xs="33" flex-xs="100" ng-style="{'padding': '3vw', 'max-width': '300px'}">
		<img src="//cravatar.eu/helmavatar/932d5032-7c08-4fae-a0ee-9a5d4c55e918.png" width="150px" height="150px" style="border-radius: 50%;"/>
		<h3>CAMERON</3>
		<h4>Community Moderator</h4>
		<p>Spreading the word about the power of Minecraftly! I love being in the middle of all the action.</p>
	</div>
	<div flex-gt-xs="33" flex-xs="100" ng-style="{'padding': '3vw', 'max-width': '300px'}">
		<img src="//cravatar.eu/helmavatar/d126678d-08a7-4982-bf5f-926a761daf56/512.png" width="150px" height="150px" style="border-radius: 50%;"/>
		<h3>ALEKS</h3>
		<h4>Community Moderator</h4>
		<p>Making Minecraftly user experience both delightful and usable. Passion for products which make a difference.</p>
	</div>
</div>