<div layout-wrap layout="column" ng-style="{'background-image':'url(//i.imgur.com/ax6T3iW.jpg)', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-color': '#000', 'min-height': '100vh', 'padding-top': '15vh'}">
	<center>
	<h2 md-colors="{color:'grey-200'}" ng-style="{'max-width': '480px', 'padding: '15vh'}">Get VIP and get more amazing features!</h2>
	<div layout-gt-xs="row" layout-xs="column" ng-style="{'max-width': '720px'}">
		<div flex-gt-xs="50" flex-xs="100" flex-xs="100">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/1028002/subscription" target="_blank"><img ng-src="//i.imgur.com/gbcpCTE.png"/></a>
			<h4><font color="white">Monthly</font></h4>
			<p><font color="white">$5</font></p>
		</div>
		<div flex-gt-xs="50" flex-xs="100" flex-xs="100">
			<a ng-href="https://secure.minecraftly.com/checkout/packages/add/996236/subscription" target="_blank"><img ng-src="//i.imgur.com/itWLJ4t.png"/></a>
			<h4><font color="white">Yearly</font></h4>
			<p><font color="white">$25</font></p>
			<p><font color="yellow"><b>Best Value! (save 60%)</b></font></p>
		</div>
	</div>
	</center>
</div>

<div layout-wrap layout="row" md-colors="{color:'grey-50'}" ng-style="{'background-color': '#000', 'overflow': 'hidden'}">
	<div flex-gt-xs="50" flex-xs="100" ng-style="{'padding': '5vw'}">
	<h2>VIP Rewards</h2>
	<p>Here are what you get when you buy VIP subscriptions:</p>
	<ul>
		<li>Get billings and in-game support at anytime</li>
		<li>Have pets following you around</li>
		<ul>
			<li>Have any mobs as pets following you around</li>
			<li>Command: /pet</li>
		</ul>
		<li>Disguise as mobs and players</li>
		<ul>
			<li>Turn yourself into any mob, or any another player</li>
			<li>Command: /disguise</li>
			<li>To undisguise: do /u</li>
		</ul>
		<li>Particle effects</li>
		<ul>
			<li>Have particle effects/trails around your head, body and feet.</li>
			<li>Command: /trails</li>
		</ul>
		<li>Sit anywhere</li>
		<ul>
			<li>Type /sit to sit down anywhere</li>
		</ul>
		<li>Have 50 virtual chests</li>
		<ul>
			<li>Have 50 virtual chests</li>
			<li>Command: /chest <number></li>
		</ul>
		<li>Daily income</li>
		<ul>
			<li>Have daily income for everyday that you log in at least once</li>
			<li>Income: $1500 in-game money</li>
		</ul>
		<li>Early access to new features</li>
		<ul>
			<li>VIP players automatically get new features before we release them to the public!</li>
		</ul>
		<li>Awesome VIP badge and chat highlights</li>
		<ul>
			<li>VIP members get an awesome VIP badge next to anything that has their name on it.</li>
			<li>Get noticed with VIP chat prefix and chat color</li>
			<li>It shows others that you support us and you are awesome!</li>
		</ul>
	</ul>
	</div>
	
	<div flex-gt-xs="50" flex-xs="100" layout="column">
		<div flex="33">
		<img ng-src="//i.giphy.com/3o6ZtrjsI49WWPkrSM.gif" width="100%" height="100%" ng-cloak/>
		</div>
		<div flex="33">
		<img ng-src="//i.giphy.com/l0MYHPkKBpbIFkkgw.gif" width="100%" height="100%" ng-cloak/>
		</div>
		<div flex="33">
		<img ng-src="//i.imgur.com/urOACpZ.png" width="100%" height="100%" ng-cloak/>
		</div>
	</div>
	<div flex="100" ng-style="{'overflow': 'hidden'}">
		<img ng-src="//i.imgur.com/9XImk2x.png" width="100%" height="100%" ng-cloak/>
	</div>
</div>
