<div layout="row" style="text-align: center; background-color: #000; padding-top: 10%; padding-bottom: 10%; padding-left:5%; padding-right:5%; min-height: 360px;">
	<div flex="100">
		<h4><font color="#fff"><i class="material-icons">thumb_up</i> A vote a day keeps the creeper away!</font></h4>
		
		<p>
            <a ng-href="http://mc.ly/vote1" target="_blank"><md-button md-colors="{background:'red-500'}" class="md-raised">Vote 1</button></a>
            <a ng-href="http://mc.ly/vote2" target="_blank"><md-button md-colors="{background:'orange-500'}" class="md-raised">Vote 2</button></a>
            <a ng-href="http://mc.ly/vote3" target="_blank"><md-button md-colors="{background:'yellow-500'}" class="md-raised">Vote 3</button></a>
			<a ng-href="http://mc.ly/vote4" target="_blank"><md-button md-colors="{background:'green-500'}" class="md-raised">Vote 4</button></a>
		</p>
	</div>
</div>
	
<div layout-wrap layout="row" ng-style="{'background-color': '#fff',}">
	<div flex-gt-xs="50" flex-xs="100" ng-style="{'padding': '5vw'}">
		<h3>Vote Rewards</h3>
		<h6>Here are what you get for each vote:</h6>
	<ul>
		<li>$1000 of in game money</li>
		<ul>
			<li>You can use money to buy stuffs at shop: /shop</li>
			<li>Use money to trade </li>
		</ul>
			<li>Voter rank tag in chat until your vote expires</li>
			<li>Lobby Abilities:</li>
		<ul>
			<li>Fly</li>
			<li>Get married</li>
			<li>Sit down anywhere: /sit</li>
			<li>See players near you: /near</li>
			<li>List warps: /warps</li>
		</ul>
	</ul>
	</div>
	<div flex-gt-xs="50" flex-xs="100">
		<img src="//orig06.deviantart.net/3aa0/f/2014/353/1/1/warpify_by_endernoir-d8ad2yf.png" width="100%"></img>
	</div>
</div>
	
<img src="//i.imgur.com/GBTqJvj.jpg" width="100%"></img>